In [1]:
import pandas as pd

ct_data = pd.read_csv("CT_2013_2023.csv")
ht_data = pd.read_csv("HT_2013_2023.csv")
leoka_data = pd.read_csv("LEOKA_ASSAULT_TIME_WEAPON_INJURY_1995_2022.csv")

print("CT Data:")
print(ct_data.info())

print("\nHT Data:")
print(ht_data.info())

print("\nLEOKA Data:")
print(leoka_data.info())

CT Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228305 entries, 0 to 228304
Data columns (total 31 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   data_year              228305 non-null  int64
 1   ori                    228305 non-null  object
 2   pub_agency_name        228305 non-null  object
 3   pub_agency_unit        4026 non-null    object
 4   agency_type_name       228305 non-null  object
 5   state_abbr             228305 non-null  object
 6   state_name             228305 non-null  object
 7   division_name          228305 non-null  object
 8   county_name            228305 non-null  object
 9   region_name            228305 non-null  object
 10  population_group_code  226681 non-null  object
 11  population_group_desc  226681 non-null  object
 12  offense_code           228305 non-null  object
 13  offense_name           228305 non-null  object
 14  offender_race          127239 non-null  object
 15  offender_ethnicity     127239 non-null  object
 16  offender_age           118657 non-null  float64
 17  offender_sex           127239 non-null  object
 18  victim_type_code       228305 non-null  object
 19  victim_type_name       228305 non-null  object
 20  location_code          228305 non-null  int64
 21  location_name          228305 non-null  object
 22  weapon_code            21404 non-null   object
 23  weapon_name            21404 non-null   object
 24  prop_desc_code         228234 non-null  float64
 25  prop_desc_code.1       228234 non-null  float64
 26  prop_desc_name         228234 non-null  object
 27  stolen_value           227677 non-null  float64
 28  recovered_value        228305 non-null  int64
 29  recovered_flag         228234 non-null  object
 30  date_recovered         34205 non-null   object
dtypes: float64(4), int64(3), object(24)
memory usage: 54.0+ MB
None

HT Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5231 entries, 0 to 5230
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATA_YEAR               5231 non-null   int64
 1   ORI                     5231 non-null   object
 2   PUB_AGENCY_NAME         5231 non-null   object
 3   PUB_AGENCY_UNIT         362 non-null    object
 4   AGENCY_TYPE_NAME        5231 non-null   object
 5   STATE_ABBR              5231 non-null   object
 6   STATE_NAME              5231 non-null   object
 7   DIVISION_NAME           5231 non-null   object
 8   COUNTY_NAME             5231 non-null   object
 9   REGION_NAME             5231 non-null   object
 10  POPULATION_GROUP_CODE   5219 non-null   object
 11  POPULATION_GROUP_DESC   5219 non-null   object
 12  OFFENSE_SUBCAT_ID       5231 non-null   object
 13  OFFENSE_NAME            5231 non-null   object
 14  OFFENSE_SUBCAT_NAME     5231 non-null   object
 15  ACTUAL_COUNT            5231 non-null   int64
 16  UNFOUNDED_COUNT         1200 non-null   float64
 17  CLEARED_COUNT           5231 non-null   int64
 18  JUVENILE_CLEARED_COUNT  5231 non-null   int64
dtypes: float64(1), int64(4), object(14)
memory usage: 776.6+ KB
None

LEOKA Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324156 entries, 0 to 324155
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   DATA_YEAR                       324156 non-null  int64
 1   PUB_AGENCY_NAME                 324156 non-null  object
 2   PUB_AGENCY_UNIT                 43170 non-null   object
 3   STATE_ABBR                      324156 non-null  object
 4   DIVISION_NAME                   324156 non-null  object
 5   REGION_NAME                     324156 non-null  object
 6   AGENCY_TYPE_NAME                324156 non-null  object
 7   POPULATION_GROUP_DESC           324156 non-null  object
 8   COUNTY_NAME                     320295 non-null  object
 9   TIME_0001_0200_CNT              324156 non-null  int64
 10  TIME_0201_0400_CNT              324156 non-null  int64
 11  TIME_0401_0600_CNT              324156 non-null  int64
 12  TIME_0601_0800_CNT              324156 non-null  int64
 13  TIME_0801_1000_CNT              324156 non-null  int64
 14  TIME_1001_1200_CNT              324156 non-null  int64
 15  TIME_1201_1400_CNT              324156 non-null  int64
 16  TIME_1401_1600_CNT              324156 non-null  int64
 17  TIME_1601_1800_CNT              324156 non-null  int64
 18  TIME_1801_2000_CNT              324156 non-null  int64
 19  TIME_2001_2200_CNT              324156 non-null  int64
 20  TIME_2201_0000_CNT              324156 non-null  int64
 21  FIREARM_INJURY_CNT              324156 non-null  int64
 22  FIREARM_NO_INJURY_CNT           324156 non-null  int64
 23  KNIFE_INJURY_CNT                324156 non-null  int64
 24  KNIFE_NO_INJURY_CNT             324156 non-null  int64
 25  HANDS_FISTS_FEET_INJURY_CNT     324156 non-null  int64
 26  HANDS_FISTS_FEET_NO_INJURY_CNT  324156 non-null  int64
 27  OTHER_INJURY_CNT                324156 non-null  int64
 28  OTHER_NO_INJURY_CNT             324156 non-null  int64
 29  LEOKA_FELONY_KILLED             324156 non-null  int64
 30  LEOKA_ACCIDENT_KILLED           324156 non-null  int64
dtypes: int64(23), object(8)
memory usage: 76.7+ MB
None